
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fuzzy+Bubbles&display=swap);

.appbar {
  background: #0c043b;
}
.ListHeading{
  font-family: "Fuzzy Bubbles", cursive;
  margin-left: 5rem;
  font-size: 1.7rem;
}
.heading {
  font-family: "Fuzzy Bubbles", cursive;
  margin-left: 5rem;
  margin-top: 1.2rem;
}
.heading2 {
  font-family: "Fuzzy Bubbles", cursive;
  margin-left: 2rem;
  margin-top: 1.2rem;
}
.orderButton {
  font-family: "Fuzzy Bubbles", cursive;
  height: 2.5rem;
  width: 15rem;
  margin-left: 2rem;
  margin-top: 0.75rem;
}
body {
  font-family: "Lato", sans-serif;
}

.link_wrapper {
  position: relative;
  transform: translate(14%, 35%);
}

.a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 35px;
  font-weight: bold;
  text-decoration: none;
  background: white;
  text-align: center;
  font-family: "Fuzzy Bubbles", cursive;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

.a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.a:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}
.heading2 {
  font-family: "Fuzzy Bubbles", cursive;
  margin-left: 1.8rem;
  margin-top: 0.9rem;
  text-align: center;
  color: white;
}
.home{
  font-family: "Fuzzy Bubbles", cursive;
  
  text-align: center;
  background-color: #0c043b;
  color: white;
}
.homeButton{
  margin-left: 35rem;
}
.imageHeading{
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}
.cartButton{
  background-color: transparent;
  border-color: white;
  color: white;
  width: 125px;
  height: 35px;
  border-radius: 30px;
  margin-top: 5.5px;
  padding: 0 3%;
  margin-left: 25px;
}
.menuHeading{
  font-family: "Fuzzy Bubbles", cursive;
}
.grid{
  display: grid;
  margin-left: 13px;
  grid-gap: 1px ;
  grid-template-columns: auto auto ;
  padding-top: 1px;
  padding-bottom: 10px;
}
.bimage{
  height: 320px;
  width: 100%;
  background-size: 100% 100%;
}

