@import url(https://fonts.google.com/specimen/Fuzzy+Bubbles#standard-styles);
.modalImage {
  height: 8rem;
  width: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

  align-self: center;
}
.grid{
  display: grid;
  margin-left: 13px;
  grid-gap: 1px ;
  grid-template-columns: auto auto ;
  padding-top: 1px;
  padding-bottom: 10px;
}
.modalHeader {
  background-color: #0c043b;
  height: 4rem;
}
.modalDescription {
  text-align: center;
  font-family: "Fuzzy bubbles", cursive;
  font-size: 20px;
}
.noItemsDiv {
  display: flex;
  justify-content: center;
}
.decButton {
  width: 3rem;
  border-radius: 4rem;
  margin-right: 25px;
  background-color: #0c043b;
  color: white;
  font-size: 2rem;
}
.noItems {
  text-align: center;
  font-family: "Fuzzy bubbles", cursive;
  font-size: 30px;
}
.incButton {
  width: 3rem;
  color: white;
  font-size: 2rem;
  border-radius: 4rem;
  margin-left: 25px;
  background-color: #0c043b;
}
.modalFooter {
  background-color: #0c043b;
  height: 4rem;
 
}
.iconDiv{
    align-items: center;
}

.addToCartButton {
  background-color: black;
  font-family: "Fuzzy bubbles", cursive;
  font-size: 25px;
  color: white;
margin-right: 280px;
}
