@import url(https://fonts.google.com/specimen/Fuzzy+Bubbles#standard-styles);

.appbar {
  background: #0c043b;
}
.heading {
  font-family: "Fuzzy Bubbles", cursive;
  margin-left: 5rem;
  margin-top: 1.2rem;
}
.heading2 {
  font-family: "Fuzzy Bubbles", cursive;
  margin-left: 2rem;
  margin-top: 1.2rem;
}
.orderButton {
  font-family: "Fuzzy Bubbles", cursive;
  height: 2.5rem;
  width: 15rem;
  margin-left: 2rem;
  margin-top: 0.75rem;
}
body {
  font-family: "Lato", sans-serif;
}

.link_wrapper {
  position: relative;
  transform: translate(14%, 35%);
}

.a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 35px;
  font-weight: bold;
  text-decoration: none;
  background: white;
  text-align: center;
  font-family: "Fuzzy Bubbles", cursive;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all 0.35s;
}

.a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.a:hover + .icon {
  border: 3px solid #2ecc71;
  right: -25%;
}

.menuHeading{
  font-family: "Fuzzy Bubbles", cursive;
  
}
.tabHeading{
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 22px;
  
  color: white;
  position: -ms-page;
}
.grid{
  display: grid;
  grid-gap: 10px ;
  grid-template-columns: auto auto ;
  padding-top: 10px;
  
}

